<html>
    <head>
        <title><%= title %></title>
        <%- style %>
    </head>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <body>
        <%- include('_header'); %>
        <main>
            <%- body %>
        </main>
        <script type="text/javascript" src="/js/search_row.js"></script>
    </body>
</html>