#home-container {
  margin-top: 2em;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #home-container #csv-upload #upload-button {
    background-color: #4474c0;
    color: white;
    margin-left: 2em;
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 9%;
    font-size: 1em; }
    #home-container #csv-upload #upload-button:hover {
      cursor: pointer;
      opacity: 0.8; }

#all-files {
  width: 100%;
  margin-top: 2em; }
  #all-files table {
    width: 100%;
    padding: 1em 0; }
    #all-files table caption {
      font-size: 2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    #all-files table th {
      background-color: #4474c0;
      color: white;
      padding: 0.8em 0; }
    #all-files table td {
      text-align: center;
      padding: 0.8em 0;
      background-color: #9bd3e6; }
